{% extends 'base.html' %}
{% block content %}

<div class="div_margins">
    <div class="flex-container">
        <div class="signup-div">
            <p><h3>Inscrivez-vous maintenant</h3></p>
            <a href="{% url 'signup' %}" class="button">S'inscrire</a>   
        </div>
        <div class="login-div">
            <p><h3>Connectez-vous</h3></p>
            <form method="post">
                <p>{{ form.username }}</p>
                <p>{{ form.password }}</p>
                {% csrf_token %}
                <button type="submit" class="button">Se connecter</button>
            </form>
        </div>
    </div>
</div>

{% endblock content %}


