{% extends 'base_connected.html' %}

{% block content %}

    <div class="center">
        <h2>Créer une critique</h2>
    </div>

    <div class="div_border_internal">
        <p><h3>Vous êtes en train de poster en réponse à</h3></p>

        <form method="post" enctype="multipart/form-data">

            <div class="div_border_internal">
                <p>{{ ticket_form.instance.user.username }} a demandé une critique</p>
                <p>{{ ticket_form.instance.title }}</p>
                <p class="align-right">{{ ticket_form.instance.time_created }}</p>
                <p>{{ ticket_form.intance.description }}</p>
                {% if ticket_form.instance.image %}
                    <img src="/media/{{ticket_form.instance.image}}" alt="image">
                {% endif %}
            </div>

            <div>
                <p><h3>Critique</h3></p>
                <div>
                    <label>Titre</label>
                    <p>{{ review_form.headline }}</p>
                </div>
                
                <div class="inline">
                    <label>Note</label>
                    <p><span>{{ review_form.rating }}</span></p>
                </div>
                
                <div>
                    <label>Commentaire</label>
                    <p>{{ review_form.body }}</p>
                </div>
            </div>

            {% csrf_token %}
            <button type="submit" class="button">Publier</button>
        </form>

    </div>
{% endblock content %}