{% extends 'base_connected.html' %}

{% block content %}
    <h2>Écrire un billet</h2>
    <form method="post" enctype="multipart/form-data">
        {{ ticket_form.as_p }}

        <div>
            <label>{{ review_form.headline.label }}</label>
            {{ review_form.headline }}
        </div>
        
        <div>
            <label>{{ review_form.rating.label }}</label>
            <div class="rating-options-inline">
                {{ review_form.rating }}
            </div>
        </div>
        
        <div>
            <label>{{ review_form.body.label }}</label>
            {{ review_form.body }}
        </div>

        {% csrf_token %}
        <button type="submit" >Publier</button>
    </form>
{% endblock content %}