{% extends 'base_connected.html' %}

{% block content %}

    <div class="center">
        <h2>Créer une critique</h2>
    </div>

    <div class="div_border_internal">
        <form method="post" enctype="multipart/form-data">
            <div>
                <p>Livre / Article</p>
                <p>Titre</p>
                {{ ticket_form.title }}
                <p>Description</p>
                {{ ticket_form.description}}
                <p>Image</p>
                {{ ticket_form.image}}
            </div>
            
            <div>
                <p><h3>Critique</h3></p>
                <div>
                    <label>Titre</label>
                    <p>{{ review_form.headline }}</p>
                </div>
                
                <div class="inline">
                    <label>Note</label>
                    <p><span>{{ review_form.rating }}</span></p>
                </div>
                
                <div>
                    <label>Commentaire</label>
                    <p>{{ review_form.body }}</p>
                </div>
            </div>

            {% csrf_token %}
            <button type="submit" class="button">Publier</button>
        </form>
    </div>

{% endblock content %}