{% extends 'base_connected.html' %}

{% block content %}

    <div class="center">
        <h2>Créer une critique</h2>
    </div>

    <div class="div_border_internal">
        <p><h3>Vous êtes en train de poster en réponse à</h3></p>

        <form method="post" enctype="multipart/form-data">

            <div class="div_border_internal">
                <p>{{ ticket.user.username }} a demandé une critique</p>
                <p class="align-date-right"><i>{{ ticket.time_created }}</i></p>
                <p>{{ ticket.title }}</p>
                <p>{{ ticket.description }}</p>
                {% if ticket.image %}
                    <img src="/media/{{ticket.image}}" alt="image">
                {% endif %}
            </div>

            <div>
                <p><h3>Critique</h3></p>
                <div>
                    <label>Titre</label>
                    <p>{{ review_form.headline }}</p>
                </div>
                
                <div id="id_rating" class="inline">
                    <span>Note</span>
                        <label for="id_rating_0"><input type="radio" name="rating" value="0" required="" id="id_rating_0">
                    0</label>
                        <label for="id_rating_1"><input type="radio" name="rating" value="1" required="" id="id_rating_1">
                    1</label>    
                        <label for="id_rating_2"><input type="radio" name="rating" value="2" required="" id="id_rating_2">
                    2</label>     
                        <label for="id_rating_3"><input type="radio" name="rating" value="3" required="" id="id_rating_3">
                    3</label>                  
                        <label for="id_rating_4"><input type="radio" name="rating" value="4" required="" id="id_rating_4">
                    4</label>
                        <label for="id_rating_5"><input type="radio" name="rating" value="5" required="" id="id_rating_5">
                    5</label>
                </div>
                
                <div>
                    <p>Commentaire</p>
                    <p>{{ review_form.body }}</p>
                </div>
            </div>

            {% csrf_token %}
            <button type="submit" class="button">Publier</button>
        </form>

    </div>
{% endblock content %}