{% extends 'base_connected.html' %}
{% load custom_filters %}


{% block content %}

    <div>
        <p><a href="{% url 'ticket' %}">Demander une critique</a>
        <a href="{% url 'review' %}">Créer une critique</a></p>
    </div>

    <h1>Liste des tickets et critiques</h1>

        {% for post in posts %}
            <div class="div_border">
                {% if post|get_class == 'Ticket' %}
                    <p>{{ post.title }}</p>
                    <p>{{ post.time_created }}</p>
                    <p>{{ post.description }}</p>
                    <a href="{% url 'response' post.id %}">Créer une critique</a>
                {% elif post|get_class == 'Review' %}
                    <p>{{ post.headline }} </p>
                    <p>{{ post.body }}</p>
                    <div class="div_border"> 
                        <p>{{ post.ticket.title }}</p>
                        <p>{{ post.ticket.description }}</p>
                    </div>

                {% endif %}
            </div>
        {% endfor %}
    </ul>


{% endblock content %}
