{% extends 'base_connected.html' %}
{% load custom_filters %}

{% block content %}

    <div class="center">
        <h1>Mes posts</h1>
    </div>

    {% for post in posts %}
        {% if post|get_class == 'Ticket' %}
            <div class="div_border">
                <p>Vous avez publié un ticket</p>
                <p>{{ post.title }}</p>
                <p class="align-right"><i>{{ post.time_created }}</i></p>
                <p>{{ post.description }}</p>
                {% if post.image %}
                    <img src="/media/{{post.image}}" alt="image">
                {% endif %}
                <div class="align-right">
                    <a href="{% url 'edit_ticket' post.id %}" class="button">Modifier</a>
                    <a href="{% url 'delete_ticket' post.id %}" class="button">Supprimer</a>
                </div>
            </div>
        {% elif post|get_class == 'Review' %}
            <div class="div_border">
                <p>Vous avez publié une critique</p>
                <div class="rating-container">
                    <span><h3 class="h3-margin-right">{{ post.headline }} - </h3></span>
                    {% for i in "12345" %}
                        {% if forloop.counter <= post.rating %}
                            <span class="star filled">★</span>
                        {% else %}
                            <span class="star empty">★</span>
                        {% endif %}
                    {% endfor %}
                </div>
                <p class="align-right"><i>{{ post.time_created }}</i></p>
                <p>{{ post.body }}</p>
                <div class="div_border_internal"> 
                    <p>Ticket - {{ post.user.username }}</p>
                    <p>{{ post.ticket.title }}</p>
                    <p>{{ post.ticket.description }}</p>
                    {% if post.image %}
                        <img src="/media/{{post.image}}" alt="image">
                    {% endif %}
                </div>
                <div class="align-right">
                    <a href="{% url 'edit_review' post.id %}" class="button">Modifier</a>
                    <a href="{% url 'delete_review' post.id %}" class="button">Supprimer</a>
                </div>
            </div>
            
        {% endif %}
    {% endfor %}

{% endblock content %}
