{% extends 'base_connected.html' %}
{% load custom_filters %}

{% block content %}

    <h1>Mes posts</h1>

    <ul>
        {% for post in posts %}
            {% if post|get_class == 'Ticket' %}
                <li>
                    {{ post.title }}
                    <a href="{% url 'edit_ticket' post.id %}">Modifier</a>
                    <a href="{% url 'delete_ticket' post.id %}">Supprimer</a>
                    <a href="{% url 'response' post.id %}">Créer une critique</a>
                </li>
            {% elif post|get_class == 'Review' %}
                <li>
                    {{ post.headline }}
                    <a href="{% url 'edit_review' post.id %}">Modifier</a>
                    <a href="{% url 'delete_review' post.id %}">Supprimer</a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>


{% endblock content %}
