{% extends 'base_connected.html' %}
{% block content %}
    <div class="div_margins">
        <h2><p>S'abonner</p></h2>
        <form method="post">
            {{ form.as_p }}
            <p>{{ user_not_found }}</p>
            {% csrf_token %}
            <button type="submit">Envoyer</button>
        </form>
    </div>
    <div class="div_margins">
        <h2>Abonnements</h2>
        {% for instance in followed_users %}
            <div class="div_table_border">
                <div>
                    <h3>{{ instance.followed_user.username }}</h3>
                </div>
                <div>
                    <a href="{% url 'delete_following' instance.id %}" class="button">Supprimer</a>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="div_margins">
        <h2>Abonnés</h2>
        {% for instance in followers %}
            <div class="div_table_border">
                <h3>{{ instance.username }}</h3>
            </div>
        {% endfor %}
    </div>
    
{% endblock content %}
