{% load static %}

<html>
    <head>
        <link rel="stylesheet" href="{% static 'styles.css' %}">
        <title>LITReview</title>
    </head>
    <body class="background-color">
        <div class="base-border">
            <div class="header-container">
                <div class="left-space">
                    Connecté en tant que <i>{{ user.username }}</i>
                </div>
                <h1 class="title">LITReview</h1>
                <div class="nav-links">
                    <a href="{% url 'flux' %}">Flux</a>
                    <a href="{% url 'post_list' %}">Posts</a>
                    <a href="{% url 'subscriptions' %}">Abonnements</a>
                    <a href="{% url 'logout' %}">Se déconnecter</a></p>
                </div>
            </div>
        </div>
        {% block content %}{% endblock content %}
    </body>
</html>
